In [167]:
import pandas as pd
import re 
from datetime import datetime, timedelta

In [149]:
teste = open('DP.txt').read()

In [150]:
tratamento1 = re.sub('&', '',teste)
tratamento2 = re.sub('X', '',tratamento1)
tratamento3 = re.sub('CARGA', '', tratamento2)
tratamento4 = re.sub('DP', '', tratamento3)
tratamento5 = re.sub('hf', '', tratamento4)
tratamento6 = re.sub('\n\n', '', tratamento5)

In [151]:
open('DP_Tratado.txt','w').write(tratamento6)

7336

In [152]:
df = pd.read_csv('DP_Tratado.txt',delimiter="\s+", index_col=False)

In [153]:
df

     ss  di  hi  m df      m.1  Demanda
0     1   2   0  0  F  36703.0      NaN
1     1   2   0  1  F  35673.0      NaN
2     1   2   1  0  F  34527.0      NaN
3     1   2   1  1  F  33996.0      NaN
4     1   2   2  0  F  33526.0      NaN
..   ..  ..  .. .. ..      ...      ...
216   4   4   0  0  F   5944.0      NaN
217   4   4   7  0  F   5618.0      NaN
218   4   4  10  0  F   6125.0      NaN
219   4   4  22  0  F   6504.0      NaN
220  11   2   0  0  F      0.0      NaN

[221 rows x 7 columns]

In [154]:
df.drop('Demanda', axis=1, inplace=True)

In [155]:
df.rename(columns={'m.1':'Demanda'}, inplace=True)

In [156]:
ports = {1: 'seco', 2: "s", 3: "ne", 4:"n", 11:"imperatriz"}

df['ss'] = df['ss'].map(ports)

In [157]:
df.drop('df', axis=1, inplace=True)

In [158]:
ports = {0:0, 1: 30}

df['m'] = df['m'].map(ports)

In [159]:
df['hi'] = df['hi'].apply(str)
df['m'] = df['m'].apply(str)

In [160]:
df['hora'] = df['hi'] + ':' + df['m']

In [162]:
df.drop(['hi','m'], axis=1, inplace=True)

In [170]:
data_partida = '2021-09-25'
data_partida = datetime.strptime(data_partida, '%Y-%m-%d')

In [174]:
datas = [(data_partida + timedelta(days = dias-1)) for dias in df['di']]

In [177]:
print(datas[0])

2021-09-26 00:00:00

In [179]:
df['datas'] = datas

In [180]:
df

             ss  di  Demanda  hora      datas
0          seco   2  36703.0   0:0 2021-09-26
1          seco   2  35673.0  0:30 2021-09-26
2          seco   2  34527.0   1:0 2021-09-26
3          seco   2  33996.0  1:30 2021-09-26
4          seco   2  33526.0   2:0 2021-09-26
..          ...  ..      ...   ...        ...
216           n   4   5944.0   0:0 2021-09-28
217           n   4   5618.0   7:0 2021-09-28
218           n   4   6125.0  10:0 2021-09-28
219           n   4   6504.0  22:0 2021-09-28
220  imperatriz   2      0.0   0:0 2021-09-26

[221 rows x 5 columns]